html{
    width: 100vw;
    height: 100%;
    font-family: cursive;
    font-size: 3vmin;
    color: white;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    font-family: "Cardo";
    background-color: #0e0f2f;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
}
.anchor{
    z-index: -1;
}

#anchor-about{
    position: absolute;
    top: 90vh;
}

#anchor-project{
    position: absolute;
    top: 90vh;
}

#anchor-footer{
    position: absolute;
    top: 290vh;
}

.nav{
    position: relative;
    float: right;
    top: 40%;   
}

.nav ul{
    list-style-type: none;
    margin: 0;
    margin-right: 4vmin;  
}

.nav li{
    display: inline;
    margin: 2vmin;
}

.header {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    opacity: .5;
    text-align: center;
    font-size: 2.5vmin;
    font-family: "Cardo";
    z-index: 6;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px solid white;
}

.page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0%;
    font-family: "Cardo";
}

#landing-page{
    top: 0vh;
}

.landing-title{
    font-size: 8vmin;
    font-family: "Cardo";
    position: absolute;
    height: 40%;
    width: 80%;
    align-content: center;
    text-align: center;
    top: 30%;
    left: 10%;
    color: white;
}

.landing-title p{
    margin: 0;
}
.small-text{
    font-size: 4vmin;
}

#about-page{
    top: 100vh;
    align-content: center;
    text-align: center;
}

#typer-box{
    position: absolute;
    top: 52.5%;
    left: 7.5%;
    width: 80%;
    height: 30%;
    font-size: 3vmin;
    font-family: "Cardo";
    text-align: left;
}

#pic{
    position: absolute;
    width: 20%;
    height: 30%;
    top: 15%;
    left: 40%;
    margin: 0;
}

#mehtab{
    max-height: 100%;
    max-width: 100%;
}

.title{
    font-size: 6vmin;
    margin-top: 3vh;
    text-align: center;
}

#project-page{
    top: 200vh;
    height: 100vh;
}

.project-box{
    position: absolute;
    width: 90%;
    height: 85%;
    top: 15%;
    left: 5%;
}

.box{
    position: absolute;
    width: 45%;
    height: 35%;
    cursor: pointer;
}

#box-5, #cont-5{
    top: 0%;
    left: 2.5%;
}

#box-2, #cont-2{
    top: 0%;
    left: 52.5%;
}

#box-3, #cont-3{
    top: 42.5%;
    left: 2.5%;
}

#box-4, #cont-4{
    top: 42.5%;
    left: 52.5%;
}

.cont{
    z-index: 3;
    font-size: 2.5vmin;
    text-align: center;
    overflow-y:auto;
    width: 45%;
    height: 35%;
    border: 3px solid #0e0f2f;
    background-color: white;
    color: black;
}

.projects{
    position: absolute;
    cursor: pointer;
    width: 45%;
}

.name-box{
    position: absolute;
    width: 45%;
    height: 5%;
    text-align: center;
    color: black;
}

#nb-2{
    top: 37.5%;
    left: 52.5%;
}

#nb-3{
    top: 37.5%;
    left 2.5%;
}

#nb-4{
    top: 37.5%;
    left: 52.5%;
}

#nb-5{
    top: 37.5%;
    left: 2.5%;
}

.footer{
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 290vh;
    left: 0;
    opacity: .5;
    text-align: center;
    font-size: 2.5vmin;
    z-index: 7;
    color: white;
    background-color: black;
}

#copyright{
    line-height: 20vh;
    margin: 0;   
}


















