/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, tabindex, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Desktop queries*/s
p {
    line-height: 2;
}

html{
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    font-family: "Raleway";
    overflow-x: hidden;
    background-color: white;/*hsla(217, 49%, 31%, 0.78); /*#f0eaea;*/
    color: #284676;
    background-image: url("content/retina-wood.png");
}

.header{
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 30vh;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 5;
    background-color: #284676;
    background-image: url("content/dark-wood.png");
}

.name{
    width: 70%;
    margin: auto;
    font-size: 2.5em;
    line-height: 20vh;
    color: #75a1e8;
    font-family: "Cardo";
    color: white;
}

.navbar{
    left: 10%;
    position: absolute;
    width: 80%;
    height: 20%;
    margin: auto;
    font-size: 1.20em;
}

.navbar a{
    color: #75a1e8;
}
.navbar ul, .contact ul, .portfolio ul{
    width: 100%;
    height: 100%;
    margin: 2vmin 0;
    margin-top: 0;
}

.navbar li, .contact li{
    display: inline;
    margin: 5vw;
}

a{
    color: black;
    text-decoration: none;
    padding: 5px;
}

a:hover{
    border-bottom: 2px solid white;
}

.nav:hover{
    border-bottom: none;
}

.content{
    position: absolute;
    width: 90%;
    min-height: 35%;
    left: 5%;
    top: 50%;
    text-align: center;
}

.description{
    top: 40%;	
}
.about, .portfolio, .res{
    height: 55%;
    top: 40%;
}

.landing{
    width: 60%;
    left: 20%;
    line-height: 1.5;
}

.lh{
    display: block;
    margin-bottom: 5vh;
    font-size: 1.5em;
}

.lp{
    font-size: 1.2em;
}

.lp a{
    color: #3b6dbe;
}

.abouts, .aboutpro, .aboutent{
    margin-top: 3vh;
}

.contact a:hover{
    border: none;
    border-bottom: 4px solid white;
}

.portfolio{
    overflow-y: hidden;
    height: 50%;
}

.portfolio ul{  
    height: 90%;
}
.portfolio li{
    display: inline-block;
    height: 100%;
    width: 20%;
    margin: 0 2vw;
    padding: 0;
    background-image: url("content/dark-wood.png");
    background-color: #284676;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#more{
    top: 80%;
    z-index: 10;
}

.project{
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 20%;
    height: 90%;
    top: 0;
    font-size: 2em;
    line-height: 48vh;
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.portfolio b{
    color: #284676;
    font-weight: normal;
    color: white;
}

#ikra{
    background-image: url(content/cali2.jpg);
}

#currency{
    background-image: url(content/currency.jpg);
}

#sockets{
    background-image: url(content/maze.jpg);
}

#scheduler{
    background-image: url(content/schedule2.jpg);
}

.project:hover{
    background-color: #284676;
    background-color: transparent;
}

/*.title{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #75a1e8;
    font-size: 1.5em;
    line-height: 40vh;
    cursor: pointer;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/

.proName{
    visibility: hidden;
}

.portfolio a{
    border: none;
}

.description h1 {
    font-weight: bold;
    margin-bottom: 4vh;
    font-size: 1.5em;
}

.about{
    width: 60%;
    left: 20%;
    font-size: 17px;
    line-height: 1.5
}
.about b{
    font-weight: bold;
    color: #3b6dbe;
}

.description{
    width: 60%;
    left: 20%;
}

.description p{
    font-size: 20px;
    line-height: 1.2;
}

.description h1{
    color: #3b6dbe;
}

.icons{
    display: none;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 20%;
    margin: auto;
    font-size: 1.20em;
    
}

.but, .but-l {
    width: 100px;
    height: 50px;
    background-color: #284676;
    color: white;
    margin-top: 5vh;
    margin-right: 2vw;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
}

.but:hover, .but-l:hover{
    border: 3px solid white;
}

.footer{
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    top: 90%;
    text-align: center;  
    z-index: 7;
}
.social{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.social li{
    display: inline;
    margin: 2vh 5vw;
}

.social img{
    display: inline;
    width: 40px;
    height: 40px;
}

.header-2{
    display: none;
    height: 80%;
    width: 100vw;
    position: fixed;
    top: 30vh;
    left: 0%;
    z-index: 6;
    font-size: 25px;
    opacity: .85;
    background-color: #75a1e8;
    background-image: url("brushed-alum.png");
    text-align: center;
}

.header-2 a{
    color: black;
    text-decoration: none;
}

.header-2 a:hover{
    border-bottom: 2px solid white;
}

.header-2 ul{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 0;
}
.header-2 li{
    margin: 3vh 0;
}

#menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 2%;
    top: 8%;
    height: 20%;
    width: 40px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
     -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
}

.header-icon {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 2%;
    top: 8%;
    height: 15%;
    width: 10%;
    color: white;
    cursor: pointer;
    z-index: 11;
    
}

.res{
    height: 45%;
    line-height: 1.2;
}

.res-content{
    color: black;
    font-family: "Raleway";
}

.left{
    position: absolute;
    text-align: left;
    width: 44%;
    min-height: 100%;
    top: 0;
    left: 3%;
}

.right{
    position: absolute;
    text-align: left;
    width: 44%;
    min-height: 100%;
    top: 0%;
    left: 53%;
}

.res h1{
    margin: 2vh 0;
    font-size: 1.5em;
    color: #284676;
    font-family: "Cardo";
}

.res h2{
    margin: 2vh 0;
    color: #3b6dbe;
    font-weight: 600;
}

.res span{
    color: #284676;
}

.skill-list li, .work-list li{
    margin: 2vh 0;
}

.skill-list, .work-list{
    list-style: square;
    margin-left: 2vw;
}

.res a{
    border: none;
}

#college{
    font-weight: bold;
    color: #3b6dbe;
}

#gpa{
    font-weight: bold;
    color: #284676;
}

@media (max-width: 800px) {
    
    .header{
        border-bottom: 1px solid white;
    }
    
    .name{
        font-size: 36px;
    }
    
    .navbar{
        font-size: 1em;
    }
    
    .about{
    	width: 90%;
    	left: 5%;
        font-size: 16px;
    }
    
    .portfolio ul{
        height: 100%;
    }
    .portfolio{
        height: 200vh;
        width: 70%;
        left: 15%;
        text-align: center;
        top: 30vh;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    .portfolio li{
        height: 17.5%;
        width: 100%;
        left: 0;
        margin: 6vh 0;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }
    
    .project{
        padding: 0;
        margin: 0;
        display: inline-block;
        position: static;
        height: 100%;
        width: 100%;
        line-height: 35vh;
        border: none;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }
    
    .portfolio ul a{
        margin: 0;
        padding: 0;
    }
    
    .portfolio li:first-child{
        margin-top: 12vh;
    }
    
    .description p{
        font-size: 18px;
    }
    
    .navbar{
        display: none;
    }
    
    .footer{
        display: none;
    }
    
    .icons{
        display: block;
    }
    
    .icons img{
        width: 32px;
        height: 32px;
    }
    
    .header2{
        display: block;
    }
    
    #menu{
        display: block;
    }
    
    .res h1{
        font-size: 1 em;
    }
    
    .res p, .skill-list li{
        font-size: 15px;
    }
    
}

@media (max-height: 600px and max-width: 800px){

    #menu{
        display: block;
    }
    
}

@media (max-height: 750px) {
    
    .name{
        font-size: 36px;
    }
    
    .navbar{
        display: none;
    }
    
    .about{
        font-size: 16px;
    } 
    .footer{
        display: none;
    }
    
    .icons{
        display: block;
    }
    
    .icons img{
        width: 32px;
        height: 32px;
    }
    
    #menu{
        display: block;
    }
    
    .header2{
        display: block;
    }
    
    .description{
        top: 40%;
    }
    
    .but, .but-l{
        width: 80px;
        height: 40px;
    }
    
}

@media (max-height: 750px and max-width: 800px) {
    
    .portfolio{
        height: 55%;
    }
}

@media (max-width: 500px) {

    .portfolio{
        width: 100%;
        left: 0;
    }
    .name{
        font-size: 26px;
        line-height: 1;
        margin-top: 8vh;
    }
    
    .icons img{
        width: 20px;
        height: 20px;
    }
    
    .social {
        margin-top: 3vh;
    }
    .social li{
        margin: 2vh 1.5vw;
    }
    
    #menu{
        font-size: 26px;
    }
    
    .res p{
        font-size: 14px;
    }
    
    .res h1{
        font-size: .8 em;
    }
    
    .res img{
        width: 32px;
        height: 32px;
    }
}


@media screen and (max-height: 500px) {
    
    .name{
        font-size: 26px;
    }
    
    .social{
        margin-bottom: 10vh;
    }
    
    .social li{
        margin: 0 1.5vw;
    }
    
    .icons img{
        width: 20px;
        height: 20px;
    }
    
    .but, .but-l{
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    
    .res img{
        width: 32px;
        height: 32px;
    }
    
} 






