/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, tabindex, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* Desktop queries*/s
p {
    line-height: 2;
}

html{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-family: "Raleway";
    overflow-x: hidden;
    background-color: hsla(217, 49%, 31%, 0.78); /*#f0eaea;*/
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 30vh;
    text-align: center;
    background-color: #284676;
}

.name{
    width: 80%;
    margin: auto;
    font-size: 2.5em;
    line-height: 20vh;
    color: #75a1e8;
    font-family: "Cardo";
}

.navbar{
    width: 80%;
    height: 20%;
    margin: auto;
    font-size: 1.25em;
}

.navbar a{
    color: #75a1e8;
}
.navbar ul, .contact ul, .portfolio ul{
    width: 100%;
    height: 100%;
    margin: 2vmin 0;
}

.navbar li, .contact li{
    display: inline;
    margin: 5vw;
}

a{
    color: black;
    text-decoration: none;
    padding: 5px;
}

a:hover{
    border-bottom: 2px solid white;
}

.tab:focus{
    outline: none;
    border-bottom: 2px solid white;
}

.content{
    position: absolute;
    width: 90%;
    height: 45%;
    left: 5%;
    top: 50%;
    text-align: center;
}

.about, .portfolio{
    height: 55%;
    top: 40%;
}

.lh{
    display: block;
    margin-bottom: 5vh;
    font-size: 1.5em;
}

.lp{
    font-size: 1.2em;
}

#falcons{
    color: red;
}

.abouts, .aboutpro, .aboutent{
    margin-top: 3vh;
}

.contact img{
    display: inline;
    width: 10%;
    height: 50%;
}

.contact a:hover{
    border: none;
    border-bottom: 4px solid white;
}

.portfolio li{
    display: inline-block;
    height: 75%;
    width: 20%;
    margin: 0 2vw;
}


.project{
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #75a1e8;
    font-size: 1.5em;
    line-height: 40vh;
    cursor: pointer;
}

.portfolio a{
    border: none;
}

.description h1 {
    font-weight: bold;
    margin-bottom: 4vh;
    font-size: 1.5em;
}

.project:hover{
    border: 2px solid white;
}

.about b{
    font-weight: normal;
    color: #75a1e8;
}

.description h1{
    color: #75a1e8;
}

.portfolio b{
    color: white;
    font-weight: normal;
}

.but, .but-l {
    width: 100px;
    height: 50px;
    background-color: #75a1e8;
    color: white;
    margin-top: 5vh;
    margin-right: 2vw;
    cursor: pointer;
    -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}












